@import './Root.module.scss';

.homepage{
    img{
        max-width: 250px;
        max-height: 250px;
    }
    top: 20%;
    left: 50%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    transform: translate(-50%, -20%);
    h1{
        color: #006241;
        font-size: 5rem;
        margin: 2px;
    }
    h2{
        margin: 2px 0 25px 0;
        font-size: 2.5rem;
    }
    button{
        background-color: #006241;
        color: #fff;
        padding: 20px 40px;
        font-size: 1.5rem;
    }
}